<%- include('include/header.ejs') %>
<div class="container">
    <% if (messages.error) { %>
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show m-3 p-3 alert-floating" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div><strong><%= messages.error %></strong></div>
            <button type="button" class="me-0 ms-auto btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <div class="col-md">
        <h1 class="text-center m-5">
            Edit Profile
        </h1>
        <form method="POST" action="/inventory/user/update/<%= user._id %>">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="fname" id="fname" placeholder="first name" required value="<%= user.fname %>">
                <label for="fname">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="lname" id="lname" placeholder="last name" required value="<%= user.lname %>">
                <label for="lname">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="email" name="email" id="email" placeholder="email" required value="<%= user.email %>">
                <label for="email">Email</label>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Edit Profile!">
            </div>
        </form>
    </div>
    <div class="col-md my-5">
        <h1 class="text-center m-5">
            Change Password
        </h1>
        <form action="/inventory/user/password/<%= user._id %>" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="current" id="current" placeholder="current" required>
                <label for="current">Current Password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="new" id="new" placeholder="new" required>
                <label for="new">New Password</label>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Change Password!">
            </div>
        </form>
    </div>
</div>
<%- include('include/footer.ejs') %>