<%- include('include/header.ejs') %>
<!-- Table -->
<div class="container">
    <div>
        <h1 class="text-center m-5">IDEA Inventory System</h1>
    </div>
    <table id="inventoryTable" class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% if (items) { %>
                <% items.forEach(item => { %>
                    <tr>
                        <td><%= item.item_name %></td>
                        <td><%= item.category.category_name %></td>
                        <td>₱ <%= item.price %></td>
                        <td>
                            <div class="row justify-content-around">
                                <div class="col-md-6">
                                    <a href="/inventory/items/edit/<%= item._id %>" rel="noopener noreferrer"  class="btn btn-primary">EDIT</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/inventory/items/delete/<%= item._id %>" rel="noopener noreferrer" class="btn btn-danger">DELETE</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <p>No Items found</p>
            <% } %>
        </tbody>
    </table>
</div>
<%- include('include/footer.ejs') %>